* {
    margin: 0;
    padding: 0;
}

body {
    min-height: 100vh;
    background-image: url(../img/smkn.png);
    background-size: cover;
    overflow-x: hidden;
    background-repeat: no-repeat;
    background-position: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    backdrop-filter: blur(3px);
}

.menu {
    background-color: white;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.1);
}

.menu-ul {
    width: 100%;
    list-style: none;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    border-color: black;
}

div li {
    height: 50px;
}

div a {
    height: 100%;
    padding: 0 30px;
    text-decoration: none;
    display: flex;
    align-items: center;
    color: black;
}

div a:hover {
    display: flex;
    background-color: #f0f0f0;
    width: 100%;
}

div li:first-child {
    margin-right: auto;
}

.sidebar {
    position: fixed;
    top: 0;
    right: 0;
    height: 100vh;
    width: 250px;
    z-index: 999;
    box-shadow: -10px 0 10px rgba(0, 0, 0, 0.1);
    display: none;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}

.sidebar li {
    width: 100%;
}

.sidebar a {
    width: 100%;
}

.menu-button {
    display: none   ;
}

.li-menu {
    border: black;
}

.foother {
    background-color: #333;
    display: flex;
    color: white;
    text-align: center;
    padding: 1px;
    position: fixed;
    bottom: 0;
    width: 100%;
    align-items: center;
    justify-content: center;
}

.ul-foother {
    justify-content: center;
    align-items: center;
    position: center;
    text-align: center;
}

.il-foother {
    position: center;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container {
    opacity: 0;
    transform: translateY(50px);
    animation: masuk 1s forwards;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    list-style: none;
    height: 50vh;
}

.p-judul {
    display: flex;
    font-size: 10vh;
}

.p-bawah {
    display: flex;
    font-size: 4vh;
    align-items: center;
    justify-content: center;
    color: white;
    background-size: 100px;
    animation-delay: 1s;
}

.f2 {
    opacity: 0;
    transform: translateY(50px);
    animation: masuk 1s forwards;
    display: flex;
    justify-content: center;
    text-decoration: none;
    list-style: none;
    height: 40vh;
    animation-delay: 2s;
}

.p-f2 {
    display: flex;
    font-size: 4vh;
    color: black;
    background-size: 100%;
}

.container-section {
    padding-top: 40px;
    padding-right: 0px;
    padding-bottom: 0px;
    padding-left: 0px;
    background-color: white;
}

.visi {
    display: flex;
    position: relative;
    font-weight: bold;
}

.p-anggota1 {
    display: flex;
    position: center;
    text-align: center;
    align-items: center;
    justify-content: center;
    color: black;
}

.anggota {
    opacity: 0;
    transform: translateY(50px);
    animation: masuk 1s forwards;
    display: flex;
    justify-content: center;
    text-decoration: none;
    list-style: none;
    height: 40vh;
    animation-delay: 2s;
}

.p-f3 {
    display: flex;
    background-color: rgba(255, 255, 255, 0.3);
    font-size: 4vh;
    color: black;
    background-size: 100%;
    backdrop-filter: blur(10px);
}

.-b-caraka {
    display: flex;
    position: center;
    text-align: center;
    align-items: center;
    justify-content: center;
    color: black;
}

.container-f {
    display: flex;
    align-items: center;
    justify-content: center;
}

.logo-ig {
    justify-content: center;
    background-color: rgb(49, 49, 49);
    align-items: center;
}

.logo-1 {
    color: white;
    text-decoration: none;
    font-size: 1px;
    height: 10vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.link {
    display: flex;
    justify-content: center;
    text-decoration: none;
}

.img-logo {
    display: flex;
    height: 100%;
    justify-content: center;
    align-items: center;
    text-decoration: none;
}

.foother2 {
    display: flex;
    justify-content: center;
    text-decoration: none;
    padding-top: 80px;
    padding-right: 0px;
    padding-bottom: 200px;
    padding-left: 0px;
    color: white;
    background-color: rgb(0, 0, 0);
}

.svg-inline--fa.fa-w-14 {
    width: .875em;
}

.text-1000 {
    --baikal-text-opacity: 1;
    color: rgba(var(--baikal-gray-1000-rgb), var(--baikal-text-opacity)) !important;
}

.svg-inline--fa {
    display: inline-block;
    font-size: inherit;
    height: 1em;
    overflow: visible;
    vertical-align: -.125em;
}

.fz {
    background-color: black;
    color: white;
}

img, svg {
    vertical-align: middle;
}

*, *::before, *::after {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.social-icon {
    background-color: #000000;
    border-radius: 50%;
    font-size: 13px;
    padding: 11px;
}

a {
    color: rgba(var(--baikal-link-color-rgb), var(--baikal-link-opacity, 1));
    text-decoration: none;
}

a:-webkit-any-link {
    color: -webkit-link;
    cursor: pointer;
}

@keyframes masuk {
    to {
    opacity: 1;
    transform: translateY(0);
    }
}

@media(max-width: 800px){
    .hideOnMobile{
        display: none;
    }
    .menu-button{
        display: block;
    }
}

.img-menu {
    height: 50px;
}

@media(max-width: 400px){
    .sidebar{
        width: 100%;
    }
}   